* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif
}

.bold {
    font-weight: bold;
}

.sessoes-horarios {
    padding: 15px 0px; 
}

.centralizado {
    display: flex;
    align-items: center;
}

.flexD {
    flex-direction: column
}
    

